<div class="wrapper">
    <div class="flavors-pagination-wrapper">
        <div class="flavors-wrapper">
            <% @flavors.each do |flavor| %>
                <div class="flavor">
                    <%= link_to image_tag(@status_image[flavor.status]), edit_flavor_path(flavor), remote: true, class: "StatusImage" %>
                    <p><%= flavor.name %></p>
                </div>
            <% end %>
            <div class="empty">
                <%= paginate(@flavors) %>
            </div>
        </div>
    </div>
</div>
<div id="flavor-modal"></div>
